<table>
    <tr class="heading">
        <td>
            Items
        </td>
        <td class="align-right">
            Hours Worked
        </td>
        <td class="align-right">
            Hourly Rate
        </td>
        <td class="align-right">
            Total
        </td>
    </tr>

    <tbody id="tableStuff">
        <!-- use this id to show the Array in question 4a -->
        <tr class="item">
            <td>Web Design</td>
            <td class="align-right">20</td>
            <td class="align-right">$50.00</td>
            <td class="align-right">$1,000.00</td>
        </tr>

        <tr class="item">
            <td>Web Development</td>
            <td class="align-right">100</td>
            <td class="align-right">$75.00</td>
            <td class="align-right">$7,500.00</td>
        </tr>

        <tr class="item">
            <td>Project Management</td>
            <td class="align-right">12</td>
            <td class="align-right">$55.30</td>
            <td class="align-right">$663.60</td>
        </tr>
        <tr>
            <td>Total Hours</td>
            <td class="align-right">132</td>
            <td> </td>
            <td> </td>
        </tr>
    </tbody>
</table>