<div class="invoice-box">
    <div class="form-container">
        <label for="item">Item:</label>
        <input 
            type="text" name="item" class="item-input" 
            title="Enter item name" placeholder="Item"
            
            >
        <label for="hours">Hours:</label>
        <input type="text" class="hours-input" name="hours" title="Enter hours worked" placeholder="Hours">
        <label for="rate">Hourly Rate:</label>
        <input type="text" class="hourly-rate-input" 
            name="hourly rate" title="Enter hourly rate"
            placeholder="Hourly Rate">
        <button id="btn_add_work_hours"> Add Hours </button>
    </div><!--.form-container-->
</div><!-- .invoice-box-->