<div class="invoice-box">
    <div class="form-container">
        <form (ngSubmit)="mgAddItem()" #itemForm="ngForm" class="p-3 border rounded shadow-sm bg-white">
            <fieldset>

                <legend> Add work: </legend>
 
                <label for="itemName" class="form-label">Item:</label>
                <input type="text" name="mgNewItemName" id="itemName" class=" item-input" title="Enter item name"
                    placeholder="e.g. AI Marketing" [(ngModel)]="mgNewItemName" required />

                <label for="itemHours" class="form-label">Hours:</label>
                <input id="itemHours" name="mgNewItemHours" type="number" class="quantity-input" placeholder=""
                    [(ngModel)]="mgNewItemHours" required />

                <label for="itemRate" class="form-label">Rate/Hr:</label>
                <input type="number" name="mgNewItemHourlyRate" id="itemRate" class=" rate-input" placeholder=""
                    [(ngModel)]="mgNewItemHourlyRate">


                <button type="submit" id="btn_add_item" class="btn btn-dark"
                    [disabled]="!mgNewItemName || !mgNewItemHours || !mgNewItemHourlyRate"> Add Item </button>

            </fieldset>

        </form>
    </div><!--.form-container-->

</div><!-- .invoice-box-->