<div class="invoice-box">
    <div class="form-container">
        <form (ngSubmit)="onSubmit()">
            <fieldset>

                <legend> Add work:</legend>

                <label for="item">Item:</label>
                <input type="text" name="item" id="item" class="item-input" title="Enter item name" placeholder="Item"
                     [(ngModel)]="mg_invoice_item.mg_item"  >
               
                <label for="hours">Hours:</label>
                <input type="text" class="hours-input" name="hours" title="Enter hours worked" placeholder="Hours"
                    [(ngModel)]="mg_invoice_item.mg_hours">
                
                <label for="rate">Hourly Rate:</label>
                <input type="text" class="hourly-rate-input" name="hourly rate" title="Enter hourly rate" placeholder="Hourly Rate" 
                    [(ngModel)]="mg_invoice_item.mg_hourly_rate">
                
                <button type="submit" id="btn_add_work_hours" 
                    [disabled]="!mg_invoice_item.mg_item || !mg_invoice_item.mg_hours || !mg_invoice_item.mg_hourly_rate"
                > Add Hours </button>

            </fieldset>
        </form>
    </div><!--.form-container-->

</div><!-- .invoice-box-->
