

<main class="main">

      <div class="invoice-box">
        <section id="add-item-component-1">
          <!--component 1-->
           <app-add-item></app-add-item>
        </section>
  
          <section id="header-component-2-3">
            <!--component 3-->
            <app-header></app-header>
          </section>
  
          <section id="payment-type-component-4-5">
            <app-payment-type></app-payment-type>
          </section>
  
          <section id="item-component-6">
            <app-item></app-item>
          </section>
  
          <section id="totals-component-7">
            <app-totals></app-totals>
          </section>
  
      </div><!--.invoice-box-->



</main>

<style type="text/css">

</style>

<router-outlet />
