<table>
    <thead>
    <tr class="heading">
        <td>
            Items
        </td>
        <td class="align-right">
            Hours Worked
        </td>
        <td class="align-right">
            Hourly Rate
        </td>
        <td class="align-right">
            Total
        </td>
    </tr>
</thead>
    <tbody *ngFor="let item1 Of mgInvoiceItems">
  
            <tr class="item">
                <td>{{item1.mg_item}}</td>
                <td class="align-right">{{item1.mg_hours}}</td>
                <td class="align-right">$ {{item1.mg_hourly_rate}}</td>
                <td class="align-right">$ {{ (item1.mg_hours * item1.mg_hourly_rate).toFixed(2) }}</td>
            </tr>
      
    </tbody>
    <tfoot>
        <tr>
            <td>Total Hours</td>
            <td class="align-right"><b>{{this.hourTotal}}</b></td>
            <td> </td>
            <td> </td>
        </tr>
    </tfoot>
</table>