<table>
    <tr class="heading">
        <td colspan="3">
            Payment Method
        </td>

        <td>
            Payment Types Accepted
        </td>
    </tr>

    <tr class="details">

        <td colspan="3" id="payment-component-type-5">
            Check
        </td>

        <td id="payment-component-type-4">



            <select title="Payment Types Accepted" name="payment_mode">
                <option value="cheque">
                    Cheque
                </option>
                <option value="cash">
                    Cash
                </option>
                <option value="credit_card" selected>
                    Credit Card
                </option>
            </select>
        </td>

    </tr>
</table>