<table>

    <tr class="subtotal">
        <td></td>
        <td></td>
        <td class="align-right">Sub Total:</td>
        <td class="align-right" id="subtotal-area-8">{{mg_subtotal}}</td>
    </tr>
    <tr class="taxes">
        <td></td>
        <td></td>
        <td class="align-right">Taxes ({{mg_taxRate}}):</td>
        <td class="align-right" id="taxes-area-9">{{mg_tax}}%</td>
    </tr>
    <tr class="total">
        <td></td>
        <td></td>
        <td class="align-right">Total:</td>
        <td class="align-right" id="total-area-10">{{mg_total}}</td>
    </tr>
</table>