<table>

    <tr class="subtotal">
        <td></td>
        <td></td>
        <td class="align-right">Sub Total:</td>
        <td class="align-right" id="subtotal-area-8">$9163.60</td>
    </tr>
    <tr class="taxes">
        <td></td>
        <td></td>
        <td class="align-right">Taxes (13%):</td>
        <td class="align-right" id="taxes-area-9">$1,191.27</td>
    </tr>
    <tr class="total">
        <td></td>
        <td></td>
        <td class="align-right">Total:</td>
        <td class="align-right" id="total-area-10">$10,354.87</td>
    </tr>
</table>