<table cellpadding="0" cellspacing="0">

    <tr class="top" id="invoice-identifier-area-2">
        <td colspan="4">
            <table>
                <tr>
                    <td class="title">
                        <img src="images/emoji.png" width="100" alt="Company Logo">
                    </td>

                    <td>
                        {{mgInvoiceData.mg_invoice_number}}
                        <!--Invoice #: 123456789 -->
                        <br>
                        {{mgInvoiceData.mg_invoice_date}}
                        <!-- Created: January 1, 2022 -->
                        <br>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="information" id="invoice-address-area-3">
        <td colspan="4">
            <table>
                <tr>
                    <td>
                        {{mgInvoiceData.mg_name}}
                        <!--Emoji Web Design, Inc.-->
                        <br>
                        {{mgInvoiceData.mgaddress}}
                        <!--12345 Sunny Road-->
                        <br>
                        {{mgInvoiceData.mg_address2}}
                        <!--Sunnyville, TX 12345-->

                    </td>

                    <td>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>